body{
    background-color:hwb(201 53% 41%);
    padding: 0;
    margin: 0;
    font-family: "Antic Didone", serif;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.category{
    position: relative;
    top: 100vh;
    padding: 50px 0;
}
.wrapper{
    padding: 10px 11%;
}

.main_img {
    background-image: url("../images/select_your_choice.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;          
    width: calc(100%);       
    height: 100vh;                          
}

#card_area{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;

}
.card{
    height: 45vh;
    position: relative;;
    margin: 3vh;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;

}
.card img{
    width: 100%;
    height: 45vh;
    border-radius: 3px;
    display: block;
    transition: transform 0.5s;
 
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#0e0d0d 62%);
    padding: 0 40px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: white;
    text-align: center;
    font-style: 14pc;
    transition: height .5s;
}
.card h3{
    margin: 10px;
    font-size: 27px;
    text-align: center;
    letter-spacing: 1px;
}
.card a {
    color: aliceblue;
    margin-top: 10px;
    text-decoration: none;
    opacity: 0;
    text-align: center;
    border: 1px solid white;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 3px 0px  28px black;
    font-size: 16px;
    font-weight: bold ;
    font-style: italic;
}

.card :hover {
    cursor: pointer;
}
.card:hover img{
    transform: scale(1.1);
}
.card:hover .overlay{
    height: 60%;  
    background-color: black 0.9;
}

.card:hover a{
    opacity: 1;
    visibility: visible;
    
}

.card h3{
    padding-bottom: 18px;
}
.card a:hover{
    box-shadow: 2px 0px  20px rgba(210, 209, 209, 0.7);
   
}

.main_img a{
   
    position: absolute;             
    top: 0;                         
                     
    width: 100%;                    
    height: 100%;                   
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;                   
    display: flex;                  
    flex-direction: column;        
    justify-content: center;        
    align-items: center;            
    text-align: center;    
    font-size: 58px;        
    text-decoration: none;
}
