<<<<<<< HEAD
body{
    background-image: url("images/findyourniche.png");
    background-size: 1360px 700px;
}

#next{
    background-color: azure;
    font-size:larger;
    top: 300px;
    left: 100px;
}

=======
.choice{
    background-color: white;
    height: 200px;
    width: 300px;
    color: rgb(153, 105, 34);
    text-align: center;
}
body {
   background-color: black;
}
>>>>>>> 350b43c40c3384c6d5eace97de4667600ded5e4a
