.choice{
    background-color: rgb(173, 135, 29);
    height: 200px;
    width: 300px;
    color: rgb(153, 105, 34);
    text-align: center;
}
body {
   background-color: black;
}
.full-stack{

}